<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Class List</title>
</head>

<body>
  <h1>{{title}}</h1>
  <a href="/math"><h2>{{mathClass}}</h2></a>
  <a href="/science"><h2>{{scienceClass}}</h2></a>
  <a href="/music"><h2>{{musicClass}}</h2></a>
  <a href="/literature"><h2>{{litClass}}</h2></a>
</body>

</html>
